<% if (authToken) { %>
    <script>
        const authToken = "<%= authToken %>";
        // Ahora puedes usar authToken para operaciones que requieren autenticación
    </script>
    <% } else { %>
    <script>
        // Si no hay authToken, redirige al usuario al index
        window.location.href = "/";
    </script>
    <% } %>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Sakura | Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
           apiKey: "AIzaSyBAjyHJoK042ui2QB8pF9d1mIt5TKbUdLY",
           authDomain: "sakura-b9969.firebaseapp.com",
           databaseURL: "https://sakura-b9969-default-rtdb.firebaseio.com",
           projectId: "sakura-b9969",
           storageBucket: "sakura-b9969.appspot.com",
           messagingSenderId: "808797111816",
           appId: "1:808797111816:web:69f768f2eec728c4b0b3bd"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <script>
        var numofactors = 0;
        var numofactress = 0;
        var numofcreatives = 0;
        var totaloftalents = 0;

        window.onload = function(){
            firebase.database().ref("Talentos").child("Actores").once('value').then(function(snapshot){
                if(snapshot.exists()){
                    numofactors = snapshot.numChildren();
                } else {
                    numofactors = 0;
                }

                totaloftalents = parseInt(totaloftalents)+parseInt(numofactors);
                document.getElementById("numofactors").innerHTML = numofactors;
            });

            firebase.database().ref("Talentos").child("Actrices").once('value').then(function(snapshot){
                if(snapshot.exists()){
                    numofactress = snapshot.numChildren();
                } else {
                    numofactress = 0;
                }

                totaloftalents = parseInt(totaloftalents)+parseInt(numofactress);
                document.getElementById("numofactress").innerHTML = numofactress;
            });

            firebase.database().ref("Talentos").child("Creativos").once('value').then(function(snapshot){
                if(snapshot.exists()){
                    numofcreatives = snapshot.numChildren();
                } else {
                    numofcreatives = 0;
                }

                totaloftalents = parseInt(totaloftalents)+parseInt(numofcreatives   );
                document.getElementById("numofcreatives").innerHTML = numofcreatives;
                document.getElementById("totaloftalents").innerHTML = totaloftalents;
            });
        }

        function signout(){
            firebase.auth().signOut().then(function() {
                // Sign-out successful.
                location.href = "index.html";
            }, function(error) {
                // An error happened.
            });
        }
    </script>
</head>

<body>

    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div style="display: flex; width: 100%;">
        <div>
            <div class="sidebar">
                <nav class="navbar bg-light navbar-light">
                    <a href="dashboard" class="navbar-brand mx-4 mb-3">
                        <img src="img/logo.png" style="width: 150px;">
                    </a>
    
                    <div class="navbar-nav">
                        <a href="dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                        <a href="actors" class="nav-item nav-link"><i class="fa fa-star me-2"></i>Actores</a>
                        <a href="actress" class="nav-item nav-link"><i class="fa fa-star me-2"></i>Actrices</a>
                        <a href="creatives" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Creativos</a>
                        <a href="influencers" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Influencers</a>
                        <a href="newsletter" class="nav-item nav-link"><i class="fa fa-clipboard me-2"></i>Newsletter</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Blog</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="new_entrance" class="dropdown-item" style="margin-bottom: 05px;"><i class="fa fa-plus"></i> &nbsp Agregar entrada</a>
                                <a href="entrances" class="dropdown-item" style="margin-bottom: 05px;"><i class="fa fa-eye"></i> &nbsp Ver entradas</a>
                                <a href="categories" class="dropdown-item"><i class="fa fa-tags"></i> &nbsp Categorias</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown" style="font-family: Montserrat; font-size: 13px;">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Sakura Management</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0" style="font-family: Montserrat; font-size: 13px;">
                            <a href="#" class="dropdown-item">Perfil</a>
                            <a href="#" class="dropdown-item">Configuración</a>
                            <a class="dropdown-item" onclick="signout()" style="cursor: pointer;">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-4 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center p-4">
                            <i class="fa fa-user fa-3x text-primary"></i>
                            <div class="ms-3" style="padding-left: 20px;">
                                <p class="mb-2">Actores</p>
                                <h6 class="mb-0" id="numofactors">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center p-4">
                            <i class="fa fa-star fa-3x text-primary"></i>
                            <div class="ms-3" style="padding-left: 20px;">
                                <p class="mb-2">Atrices</p>
                                <h6 class="mb-0" id="numofactress">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center p-4">
                            <i class="fa fa-users fa-3x text-primary"></i>
                            <div class="ms-3" style="padding-left: 20px;">
                                <p class="mb-2">Creativos</p>
                                <h6 class="mb-0" id="numofcreatives">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center p-4">
                            <i class="fa fa-clipboard fa-3x text-primary"></i>
                            <div class="ms-3" style="padding-left: 0;">
                                <p class="mb-2">Talentos en total</p>
                                <h6 class="mb-0" id="totaloftalents">0</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up" style="font-size: 18px;"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>